%li.hentry
  %h2.header
    = link_to entry.title, entry, :class => :"entry-title", :target => :_blank
  %p.subheader
    = link_to entry.feed, feed_entries_path(entry.feed)
    = "#{time_ago_in_words entry.created_at} ago"
    &bull;
    = link_to "origin", entry.url, :class => :link_to_origin, :target => :_blank
  - if current_user.display_full_entries_in_list?
    %span.content= entry_content entry
