%ul#tags
  %li{:class => "my_feeds #{"active rounded-top-5" if params[:tagged].blank?}"}
    = link_to "Entries", entries_path
    = link_to icon_tag(:add), "#", :class => :"add_feed_toggle button", :title => "Add subscription"
    %div#add_subscription.hidden
      - form_for Feed.new do |f|
        %p= f.label :url, "Paste URL of a feed or website"
        = f.text_field :url
        = f.submit "Subscribe"
  = render "feeds/tag_list"
  %li.all_tags.rounded-top-5{:class => params[:show_all_tags].blank? ? "" : "opened"}
    - if params[:show_all_tags].blank?
      = link_to "More tags", "#", :"data-other-label" => "Less tags"
    - else
      = link_to "Less tags", "#", :"data-other-label" => "More tags"
  %div.cl
