%ul#tags
  %li.my_feeds
    = link_to "My feeds", entries_path
    = link_to icon_tag(:add), "#", :class => :"add_feed_toggle button", :title => "Add subscription"
    %div#add_subscription
      - form_for Feed.new do |f|
        = f.label :url, "Add feed by URL"
        = f.text_field :url
  = render "feeds/tag_list"
  %li.search_bar
    - form_tag search_entries_path, :method => :get do
      = text_field_tag :q, params[:q]
      - unless params[:q].blank?
        = link_to icon_tag(:close), entries_path, :title => "Clear"
      = icon_tag :search
