- require_css :tags_filter
- require_css :entries_page
- require_css :entries
- require_javascript "jquery/paging_keys"
- require_javascript "jquery/qtip.fixed"
- require_javascript "jquery/infinite_scroll"
- require_javascript :entries

= render "entries/top_bar"

%ul#feeds
  %li.search_bar
    - form_tag search_entries_path, :method => :get do
      %input{:type => :search, :name => :q, :value => params[:q], :placeholder => "Search"}
  %span#feed_list
    = render "feeds/list"

%ul#entries.drops-shadow.rounded-10
  %li.tag_cloud.rounded-top-10{:class => params[:show_all_tags].blank? ? "hidden" : ""}
    - tag_cloud @all_tags, %w(w1 w2 w3 w4) do |tag, css_class|
      = link_to tag.name, entries_path(:tagged => tag.name, :show_all_tags => true), :class => "#{css_class} #{"active" if params[:tagged] == tag.name}"
  = render :partial => "entries/entry", :collection => @entries
