- require_css :tags_filter
- require_css :entry_page
- require_javascript :entries

%ul#tags
  = render "feeds/tag_list", :tags => current_user.owned_tags, :include_blank => true
  %li.add_feed
    = link_to "Add feed", "#", :class => :"add_feed_toggle button"
    - form_for Feed.new, :html => {:class => :floating_form} do |f|
      = f.label :url, "Add feed by URL"
      = f.text_field :url

%div.entry
  %h1.entry_header
    = @entry.title
  %p.entry_feed_description
    From
    = link_to @entry.feed, @entry.feed
    = "#{time_ago_in_words @entry.created_at} ago"
    &bull;
    = link_to "origin", @entry.url, :class => :link_to_origin
  = @entry.content

%ul#tags
  = render "feeds/tag_list", :tags => current_user.owned_tags, :include_blank => true
