- require_css :tags_filter
- require_css :entry_page
- require_javascript :entries

= render "entries/top_bar"

%div.entry
  %h1.entry_header
    = @entry.title
  %p.entry_feed_description
    From
    = link_to @entry.feed, @entry.feed
    = "#{time_ago_in_words @entry.created_at} ago"
    &bull;
    = link_to "origin", @entry.url, :class => :link_to_origin
  = @entry.content
